﻿
body {
    font-size: 14px;
    background: rgba(245, 240, 240, 0.75);
}
.container-fluid {
    margin-top: 3em;
}
.form-control {
    border: solid 1px rgba(160, 160, 160, 0.51) !important;
    border-radius: 0px !important;
    background: rgba(255, 255, 255, 0.66) !important;
    height: 40px;
    font-size: 15px;
}
.textarea.form-control {
    resize: vertical;
    overflow: auto;
    height: 140px;
}
.m-t {
    margin-top: 25px;
}
.form-container {
    padding-top: 80px;
}
button {
    text-transform: uppercase;
    border-radius: 0px !important;
}
.btn-copy {
    padding: 3px 6px !important;
    font-size: 12px !important;
    text-transform: none !important;
}
.clear-m-top {
    margin-top: 0px !important;
}
header {
    width: 100%;
    height: 90px;
    color: #fff;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #0683c9;
}