﻿@{
    ViewData["Title"] = "TestClient";
}

<section class="row">
    <article class="col-xs-12 col-md-offset-1 col-md-10 col-lg-9  form-container">
        <form id="service-form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="url" name="host" class="form-control" id="host" required placeholder="URL Host">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button id="copy-request" class="pull-right btn btn-default btn-copy">Copy</button>
                    <div class="form-group clear-m-top">
                        <textarea name="request" class="form-control textarea" required id="request" placeholder="Json Request"></textarea>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-xs-6">
                <button type="button" id="clear" class="btn btn-default btn-block">Clear</button>
            </div>
            <div class="col-xs-6">
                <button type="button" id="invoke" class="btn btn-primary btn-block">Invoke</button>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-xs-12">
                <button id="copy-response" class="pull-right btn btn-default btn-copy ">Copy</button>
                <div class="form-group clear-m-top">
                    <textarea class="form-control textarea" id="response" placeholder="Json Response"></textarea>
                </div>
            </div>
        </div>

    </article>
</section>
